<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>神经风格迁移demo</title>
    <link rel="shortcut icon" href="./static/favicon.ico">
</head>
<body>
    <h2>神经风格迁移</h2>
    <form enctype=‘multipart/form-data’ method="POST">
        <div>
            <label for="image1">内容图片</label>
            <input type="file" id="image1" name="content_image">
            <div id="img1" class="img-container"></div>
        </div>
        <div>
            <label for="image2">风格图片</label>
            <input type="file" id="image2" name="style_image">
            <div id="img2" class="img-container"></div>
            <button id="upload" type="submit">upload</button>
        </div>
    </form>
    <div class="res-img"></div>
    <script src="./static/js/main.js"></script>
</body>
</html>